FLASK_APP=project/app.py
FLASK_ENV=local
DATABASE_URL=postgresql://hello_flask:hello_flask@capman_db:5432/hello_flask_dev
SQL_HOST=capman_db
SQL_PORT=5432
DATABASE=postgres
APP_FOLDER=/home/app/web
SLACK_BOT_TOKEN=
SLACK_USER_TOKEN=
SLACK_SECRET=
ALERT_CHANNEL=cap-alerts